<div class="title-block">
        <h3 class="title">
            Страница записей <span class="sparkline bar"></span>
        </h3>
    </div>


    <section class="section text-center" *ngIf="!isLoaded">Loading ...</section>
    <section class="section" *ngIf="isLoaded">
        <div class="row">
            <div class="col-md-6">
                    <bus-add-event [categories]="categories"></bus-add-event>
            </div>
            <div class="col-md-6">
                    <bus-add-category (onCategoryAdd)="newCategoryAdded($event)"></bus-add-category>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <bus-edit-category 
                [categories]="categories"
                (onCategoryEdit)="categoryWasEdited($event)"
                ></bus-edit-category>
            </div>
        </div>
    </section>